@charset "utf-8";
/*
 * object/layout/_core.scss
 */
html,
body {
	position: relative;
	min-height: 100%;
}

#wrap {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding-bottom: 180px;
}

#footer {
	position: absolute;
	bottom: 0;
}