@charset "utf-8";
/*
 * object/layout/_core.scss
 */
html,
body {
	position: relative;
	min-height: 100%;
}

#l-contents {
	position: relative;
	width: 1080px;
	height: 100%;
	min-height: 100%;
	margin: 0 auto;
}

#l-editor {
	padding: 20px;
}
