<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex">
	<title>Rich-CMS Sample</title>
	<meta name="keywords" content="cms">
	<meta name="description" content="cms">
	<link media="all" type="text/css" rel="stylesheet" href="../../../public/assets/css/all.css">
</head>
<body id="page-editor">
	<h1>Rich-CMS Sample Editor</h1>
	<div>
		
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="../../../public/assets/js/bundle/bundle.js"></script>
</body>
</html>
