<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="noindex">
	<title>Rich-CMS Sample</title>
	<meta name="keywords" content="cms">
	<meta name="description" content="cms">
	<link media="all" type="text/css" rel="stylesheet" href="../../../public/assets/css/all.css">
</head>
<body id="page-top">
	<h1>Rich-CMS Sample</h1>
	<div>
		<h2>Create Column</h2>
			<span>
				<a href="editor.html">記事作成</a>
			</span>
		<h2>Edit Column</h2>
		<ul>
			<li><a href="editor.html">下書き記事.1</a></li>
			<li><a href="editor.html">下書き記事.2</a></li>
			<li><a href="editor.html">下書き記事.3</a></li>
		</ul>		
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="../../../public/assets/js/bundle/bundle.js"></script>
</body>
</html>
